body{
    margin: auto;
    padding: auto;
    background-image: url(../img/wallpaper_monterey.webp);
    background-size: 1520px;
}

.bloc1{
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    height: 45px;
    width: auto;
}

.list_products1{
    display: flex;
    list-style: none;
    color: darkgrey;
    margin-left: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
}

.list1{
    margin-left: 35px;
    margin-top: 14px;
}

.logo1{
    position: absolute;
    margin-left: 255px;
    margin-top: 12px;
}

.logo2{
    position: absolute;
    margin-left: 1180px;
    margin-top: -25px;
}

.logo3{
    position: absolute;
    margin-left: 1230px;
    margin-top: -30px;
}

.bloc2{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    height: 50px;
    width: auto;
}

.title_bloc2{
    position: absolute;
    margin-left: 255px;
    margin-top: 13px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.list_products2{
    position: absolute;
    display: flex;
    list-style: none;
    color: white;
    margin-left: 800px;
    margin-top: 17px;
    font-size: 12px;
}

.list2{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.button{
    margin-top: 10px;
    margin-left: 1100px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    background-color: dodgerblue;
    color: white;
    width: 150px;
    border: none;
}

.body_text{
    position: absolute;
    margin-left: 380px;
    margin-top: 165px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.title1{
    position: relative;
    font-size: 50px;
    font-weight: bolder;
    height: 0px;
}

.title2{
    font-size: 170px;
    font-weight: bolder;
    margin-top: 50px;
}